<!DOCTYPE html>
<html>
<title>About Us</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="/" class="w3-bar-item w3-button"><b>Train</b> Bee</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a href="/book" class="w3-bar-item w3-button">Book</a>
        <a href="/result" class="w3-bar-item w3-button">MyTicket</a>
        <a href="/contact" class="w3-bar-item w3-button">About Us</a>
    </div>
  </div>
</div>

 <!-- Grid -->
 <div class="w3-row-padding" id="about">
  <div class="w3-center w3-padding-64">
    <span class="w3-xlarge w3-padding-16">My Team</span>
  </div>

  <div class="w3-third w3-margin-bottom">
    <div class="w3-card-4">
      <div align="center"><img src="https://www.img.in.th/images/e3b0e7e2cfabf1463111334b014d3f14.jpg" alt="GGyz" style="width:78%"></div>
      <div class="w3-container">
        <i><h3>Manassanun Krutta</h3></i>
        <h5>Student ID: 59102010277</h5>
        <a href="swu59277@outlook.com">E-mail:swu59277@outlook.com</a>
        <p></p>
        <!--<p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="w3-third w3-margin-bottom">
    <div class="w3-card-4">
      <div align="center"><img src="https://www.img.in.th/images/c7f2a10e13b6fed51540f7f65af50e36.jpg" alt="Tekz" style="width:78%"></div>
      <div class="w3-container">
        <i><h3>Suwatchai Kiatchalermporn</h3></i>
        <h5>Student ID: 59102010298</h5>
        <a href="swu59298@outlook.com">E-mail:swu59298@outlook.com</a>
      <p></p>
       <!--  <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="w3-third w3-margin-bottom">
    <div class="w3-card-4">
      <div align="center"><img src="https://www.img.in.th/images/f7cf618f23a9abcfbc9deb36138a310d.jpg" alt="Golf" style="width:82%"></div>
      <div class="w3-container">
        <i><h3>Nattapol Lerdridtipong</h3></i>
        <h5>Student ID: 59102010902</h5>
        <a href="swu59902@outlook.com">E-mail:swu59902@outlook.com</a>
        <p></p>
        <!----<p><button class="w3-button w3-light-grey w3-block">Contact</button></p>-->
      </div>
    </div>
  </div>

</div>

<div class="wrapper">
<footer class="w3-center w3-black w3-padding-16">

  <p> TeaTime </p>

</footer>
</div>

</body>
</html>
